[Unit]
Description=Sinden Lightgun Service

[Service]
Type=forking
ExecStart=/opt/sinden-lightgun/startup-scripts/StartLightgunStart.sh
ExecStop=/opt/sinden-lightgun/startup-scripts/StartLightgunStop.sh
ExecStartPre=/opt/sinden-lightgun/startup-scripts/StartLightgunStop.sh

[Install]
WantedBy=default.target
